$primary-color: #353137;
$secondary-color: white;
$border-width: 3px;
$border-solid: solid $border-width;
$border-double: double $border-width;
$primary-font: 'Montserrat';
$secondary-font: sans-serif;

html, body {
    background-image: url('/images/media/background19.jpg');
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: 100% auto;
    color: $secondary-color;
    font-family: $primary-font, $secondary-font;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    width: 60%;
}

.title {
    font-size: 84px;
    background-color: $primary-color;
    border: $border-double $secondary-color;
    color: $secondary-color;
}

.links > a {
    color: $secondary-color;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links>a:hover, .links>button:hover {
    color: $primary-color;
    background-color: $secondary-color;
    text-decoration: none;
}

.links {
    background-color: $primary-color;
    padding: 5px;
    border: $border-double $secondary-color;
}

.m-b-md {
    margin-bottom: 30px;
}

.card-header, .card-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.card-header {
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    border: $border-solid $primary-color;
    margin-top: 30px;
}

.card-header>h4 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.register {
    font-size: 12pt;
    text-align: center;
    width: 10%;
    margin-left: auto;
    min-width: 150px;
    text-decoration: none;
    color: $secondary-color;
}

.navbar {
    color: $secondary-color;
    background-color: $primary-color;
    border-color: $secondary-color;
    text-decoration: none;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 50px 45px 50px;
    align-items: center;
}

.navbar a {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    float: left;
    display: block;
    color: $secondary-color;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
}

.navbar a:hover {
    background-color: $secondary-color;
    color: $primary-color;
}

.active {
    border-bottom: $border-solid $secondary-color !important;
}

.card-body {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 15px;
    overflow: hidden;
    border: $border-solid $primary-color;
    border-top: none;
}

/*Imagem à esquerda, altura limitada*/

.card-body img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 50%;
    max-height: 280px;
    height: auto;
    float: left;
    margin-right: 15px;
    border: $border-double $primary-color;
}

.card-body li {
    list-style-type: none;
}

.card-text {
    text-align: justify;
}

.card-text .extra {
    text-align: right;
    display: none;
}

#subtitle {
    background-color: $primary-color;
    color: $secondary-color;
    margin-top: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: $border-double $secondary-color;
}

#login {
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

.card-body .row {
    text-align: center;
    margin-bottom: 10px;
}

.card-body input:not(.form-check-input), .card-body select {
    width: 50%;
    height: 22px;
}

button, input[type=submit] {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
}

button:hover, input[type=submit]:hover {
    background-color: $secondary-color;
    color: $primary-color;
}

#submit-button {
    margin-left: auto;
    margin-right: auto;
}

.register>button {
    width: 100%;
}

/* This is the style of our error messages */

.error {
    width: 50%;
    padding: 0;
    font-size: 80%;
    color: $secondary-color;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    text-align: center;
}

input.invalid {
    border-color: #900;
    background-color: #FDD;
}

.emsg {
    color: red;
}

.hidden {
    visibility: hidden;
}
p.span_emsg{
    margin-top: 5px;
    margin-bottom: 5px;
}

th, td{
    padding: 8px;
}
